<style>
  #el {
    margin-right: 65px;
  }
</style>
<section class="container-fluid">
  <h1 id="titulooo" class="text-center">Carrito de tus Compras</h1>
  <br />
  <div class="card" style="width: 18rem">
    <img
      src="https://th.bing.com/th/id/OIP.7R1zVam7lGD0CFte9pV0DwHaHy?w=184&h=194&c=7&r=0&o=5&pid=1.7"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body d-2-block">
      <h5 class="card-title">Producto Nombre</h5>
      <p class="card-text">$Precio</p>
      <p class="card-text">Cant: 1</p>
      <a id="el" href="#" class="btn btn-danger">Eliminar</a>
      <a href="#" class="btn btn-info">Editar Cant</a>
    </div>
  </div>
</section>
