<header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="1724358321894.png" width="80" height="50" />
          Welcome
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/listar-productos">Productos</a>
            </li>
          </ul>
          <div>
            <a
              routerLink="/login"
              class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Login
            </a>
            <span> / </span>
            <a
              routerLink="/register"
              class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Sign-in</a
            >
          </div>
        </div>
      </div>
    </nav>
  </header>
  <style>
    #el{
      margin-right: 65px;
    }
  </style>
  <section class="container-fluid">
    <h1 id="titulooo" class="text-center">Carrito de tus Compras</h1>
    <br>
    <div class="card" style="width: 18rem;">
      <img src="https://th.bing.com/th/id/OIP.7R1zVam7lGD0CFte9pV0DwHaHy?w=184&h=194&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
      <div class="card-body d-2-block">
        <h5 class="card-title">Producto Nombre</h5>
        <p class="card-text">$Precio</p>
        <p class="card-text">Cant: 1</p>
        <a id="el" href="#" class="btn btn-danger">Eliminar</a>
        <a href="#" class="btn btn-info">Editar Cant</a>
      </div>
    </div>
  </section>
