<div class="container mt-5" id="Hola" [ngClass]="{ productos: styleProduct }">
  <div class="talle_container">
    <select>
      <option (click)="filtrar('a')" class="talle_li">a</option>
      <option (click)="filtrar('S')" class="talle_li">S</option>
      <option (click)="filtrar('m')" class="talle_li">m</option>
      <option (click)="filtrar('p')" class="talle_li">p</option>
    </select>
    <div>
      <select>
        <option (click)="filtrar('remeras')">Remeras</option>
        <option (click)="filtrar('Pantalones')">Pantalones</option>
        <option (click)="filtrar('Zapatillas')">Zapatillas</option>
        <option (click)="filtrar('Discos')">Discos</option>
        <option (click)="filtrar('Barras')">Barras</option>
        <option (click)="filtrar('Pesas')">Pesas</option>
        <option (click)="filtrar('Pelotas')">Pelotas</option>
      </select>
    </div>
    <div>
      <select>
        <option (click)="filtrar(5000)">5000</option>
        <option (click)="filtrar(20000)">20000</option>
        <option (click)="filtrar(100000)">100000</option>
        <option (click)="filtrar(10000000)">100000000</option>
      </select>
    </div>
  </div>
  <div class="clase row g-0 justify-content-between">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body text-center">
              <span class="titulo bungee-tint-regular"
                >Listado De Productos</span
              >
              <button
                class="btn btn-success float-end"
                routerLink="/crear-producto"
              >
                Nuevo
              </button>
              <div
                class="spinner-border text-danger"
                *ngIf="listProductos.length < 0"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>

              <table
                class="table table-striped"
                *ngIf="listProductos.length > 0"
              >
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">imagen</th>
                    <th scope="col">talle</th>
                    <th scope="col">stock</th>
                    <th scope="col">precio</th>
                  </tr>
                  <tr *ngFor="let producto of listProductos">
                    <th scope="row">
                      <a href="/producto/{{ producto.id_producto }}">{{
                        producto.nombre
                      }}</a>
                    </th>

                    <td>
                      {{ producto.categoria }}
                    </td>
                    <td>
                      {{ producto.descripcion }}
                    </td>
                    <td>
                      <img src="{{ producto.imagen }}" width="30px" />
                    </td>
                    <td>
                      {{ producto.talle_peso }}
                    </td>
                    <td>
                      {{ producto.stock }}
                    </td>
                    <td>
                      {{ producto.precio }}
                    </td>
                    <td *ngIf="auth">
                      <i
                        class="fa-solid fa-trash text-danger"
                        (click)="eliminarProducto(producto.id_producto)"
                      ></i>
                      <i
                        class="fa-solid fa-pen-to-square text-primary"
                        [routerLink]="[
                          '/editar-producto',
                          producto.id_producto,
                        ]"
                      ></i>
                    </td>
                    <td *ngIf="auth == false">
                      <i
                        class="fa-solid fa-plus text-success"
                        (click)="agregarProducto(producto.id_producto)"
                      ></i>
                    </td>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="carrito_container col-lg-4">
          <h2 class="titulo_carrito">CARRITO</h2>
          <div class="carrito_body">
            <table class="table table-striped" *ngIf="carrito.length > 0">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">precio</th>
                  <th scope="col">Cant.</th>
                  <th scope="col"></th>
                </tr>
                <tr *ngFor="let e of carrito">
                  <th scope="row">
                    <a routerLink="/producto/{{ e.id }}">{{ e.nombre }}</a>
                  </th>
                  <td>
                    {{ e.precio }}
                  </td>
                  <td>
                    {{ e.cantidad }}
                  </td>
                  <td>
                    <i
                      class="fa-solid fa-minus text-danger"
                      (click)="quitarProducto(e.id)"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th scope="col">Total</th>
                  <th scope="col">{{ total }}</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <hr />
            <div class="row g-0 justify-content-between">
              <button
                class="btn btn-outline-danger col-4"
                (click)="limpiarCarrito()"
              >
                Limpiar
              </button>
              <button
                class="btn btn-outline-success col-4"
                (click)="comprarCarrito()"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row g-0 justify-content-center" id="Tarjeta">
  <div class="card mt-5 col-5">
    <h1 class="text-center mt-4 titulo fs-1">Pago Tarjeta</h1>

    <div class="row g-0 justify-content-between ps-4 pe-4">
      <div class="col-4"><p class="fs-3">Total:</p></div>
      <div class="col-2">
        <p class="fs-3">{{ total }}</p>
      </div>
    </div>
    <form
      class="row g-0 justify-content-center card-body m-2"
      method="POST"
      enctype="multipart/form-data"
      novalidate=""
      [formGroup]="tarjetaForm"
      (ngSubmit)="comprar()"
    >
      <input
        type="text"
        class="form-control form-control-lg m-2"
        placeholder="Numero de tarjeta"
        formControlName="cardNumber"
      />
      <div
        class="text-danger"
        *ngIf="
          tarjetaForm.get('cardNumber')?.hasError('required') &&
          tarjetaForm.get('cardNumber')?.touched
        "
      >
        <span>EL Numero tarjeta <strong>obligatorio</strong></span>
      </div>
      <div class="row g-0 justify-content-between">
        <div class="col-5">
          <label class="col-12">MM</label>
          <select class="col-12" formControlName="month">
            <option *ngFor="let mes of meses" value="{{ mes }}">
              {{ mes }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="
              tarjetaForm.get('month')?.hasError('required') &&
              tarjetaForm.get('month')?.touched
            "
          >
            <span>EL mes de vencimiento es <strong>obligatorio</strong></span>
          </div>
        </div>
        <div class="col-5">
          <label class="">AAAA</label>
          <select class="col-12" formControlName="year">
            <option *ngFor="let year of years" value="{{ year }}">
              {{ year }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="
              tarjetaForm.get('year')?.hasError('required') &&
              tarjetaForm.get('year')?.touched
            "
          >
            <span>EL año de vencimiento es <strong>obligatorio</strong></span>
          </div>
        </div>
      </div>
      <input
        type="text"
        class="form-control form-control-lg m-2"
        placeholder="Codigo de seguridad"
        formControlName="cod"
      />
      <div
        class="text-danger"
        *ngIf="
          tarjetaForm.get('cod')?.hasError('required') &&
          tarjetaForm.get('cod')?.touched
        "
      >
        <span>EL codigo de la tarjeta es <strong>obligatorio</strong></span>
      </div>
      <input
        type="submit"
        class="btn btn-outline-success col-4 m-2"
        value="Enviar"
      />
    </form>
  </div>
</div>
