* {
  margin: 0;
}
html body {
  min-height: 100vh;
}
.fa-solid {
  cursor: pointer;
  margin-left: 5px;
}

.spinner-border {
  margin: 22% 50%;
}
.clase {
  width: 205vh;
}

.carrito_container {
  background-color: rgba(22, 22, 22, 0.575);
  padding: 10px 20px;
  min-height: 70vh;
  border-radius: 20px;
  border: 1px solid #464545c9;
}

.titulo_carrito {
  text-align: center;
}

.carrito_body {
  min-height: 50vh;
}

hr {
  height: 10px;
}

#bonsito {
  position: absolute;
  margin-top: 470px;
  left: 90%;
}
/* #textito{

} */
