<div class="container mt-5" id="Hola">
  <div class="clase row g-0 justify-content-between">
    <div class="col-lg-7">
      <div class="card">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div>
              <li (click)="cambio('a')">a</li>
              <li (click)="cambio('s')">s</li>
              <li (click)="cambio('m')">m</li>
              <li (click)="cambio('p')">p</li>
              <li (click)="cambio('rule')">rule</li>
              <li (click)="cambio('A MI NO ACIDOOO')">A MI NO ACIDOOO</li>
            </div>
            <div class="card">
              <div class="card-body text-center">
                <span class="titulo bungee-tint-regular"
                  >Listado De Productos</span
                >
                <button
                  class="btn btn-success float-end"
                  routerLink="/crear-producto"
                >
                  Nuevo
                </button>
                <div
                  class="spinner-border text-danger"
                  *ngIf="listProductos.length < 0"
                  role="status"
                >
                  <span class="visually-hidden">Loading...</span>
                </div>

                <table
                  class="table table-striped"
                  *ngIf="listProductos.length > 0"
                >
                  <thead>
                    <tr>
                      <th scope="col">Producto</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">descripcion</th>
                      <th scope="col">imagen</th>
                      <th scope="col">talle</th>
                      <th scope="col">stock</th>
                      <th scope="col">precio</th>
                    </tr>
                    <tr *ngFor="let producto of listProductos">
                      <th scope="row">{{ producto.nombre }}</th>
                      <td>{{ producto.categoria }}</td>
                      <td>{{ producto.descripcion }}</td>
                      <td><img src="{{ producto.imagen }}" width="60px" /></td>
                      <td>{{ producto.talle_peso }}</td>
                      <td>{{ producto.stock }}</td>
                      <td>{{ producto.precio }}</td>
                      <td *ngIf="auth"></td>

                      <th scope="row" *ngIf="producto.talle_peso == bus">
                        {{ producto.nombre }}
                      </th>
                      <td *ngIf="producto.talle_peso == bus">
                        {{ producto.categoria }}
                      </td>
                      <td *ngIf="producto.talle_peso == bus">
                        {{ producto.descripcion }}
                      </td>
                      <td *ngIf="producto.talle_peso == bus">
                        {{ producto.talle_peso }}
                      </td>
                      <td *ngIf="producto.talle_peso == bus">
                        {{ producto.stock }}
                      </td>
                      <td *ngIf="producto.talle_peso == bus">
                        {{ producto.precio }}
                      </td>
                      <td>
                        <i
                          class="fa-solid fa-trash text-danger"
                          (click)="eliminarProducto(producto.id)"
                        ></i>
                        <i
                          class="fa-solid fa-pen-to-square text-primary"
                          [routerLink]="['/editar-producto', producto.id]"
                        ></i>
                      </td>
                      <td *ngIf="auth == false">
                        <i class="fa-solid fa-plus text-success"></i>
                      </td>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="carrito_container col-lg-4">
            <h2 class="titulo_carrito">CARRITO</h2>
            <div class="carrito_body"></div>
            <hr />
            <div class="row g-0 justify-content-between">
              <button class="btn btn-outline-danger col-4">Limpiar</button>
              <button class="btn btn-outline-success col-4">Comprar</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a routerLink="/carrito" id="bonsito" class="btn btn-primary btn-lg">
          <i id="textito" class="fa-solid fa-cart-arrow-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>
