<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="1724358321894.png" width="80" height="50" />
        Welcome
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar-productos">Productos</a>
          </li>
        </ul>
        <div>
          <a
            routerLink="/login"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Login
          </a>
          <span> / </span>
          <a
            routerLink="/register"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Sign-in</a
          >
        </div>
      </div>
    </div>
  </nav>
</header> 
<router-outlet></router-outlet>
