<title>Producto</title>
<h1></h1>
<div class="card" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-2">
      <img
        src="{{ producto.imagen }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">
          {{ producto.descripcion }}
        </p>
        <p class="card-text">
          <small class="text-body-primary">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
